.cart {
  position: static;

}
.dropdown {
  position: absolute;
  top: 80px;
  left: 10px;
  right: 10px;
  background-color: #ffffff;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
  &_visible {
    display: flex;
    flex-direction: column;
  }
}
.title {
  padding: 20px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}
.icon {
  display: flex;
  align-items: center;
  width: 22px;

  img {
    width: 100%;
  }
}
@media (min-width: 450px) {
    .dropdown{
        min-width: 350px;
        right: 10px;
        left: auto;
    }

}
@media (min-width: 1135px) {
  .cart {
    position: relative;
  }
  .dropdown {
    left: -160px;
    top: 30px;
  }
}
