.currentPicWrapper {
  position: relative;
}
.currentPic {
  width: 100%;
  aspect-ratio: 8 / 7;
  object-fit: cover;
  object-position: center;

}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
  }
}
.arrowPrevious {
  left: 15px;
  img {
    transform: translate(-60%, -50%);
  }
}
.arrowNext {
  right: 15px;
  img {
    transform: translate(-40%, -50%);
  }
}
.thumbnails {
  display: none;
}

@media (min-width: 450px) {
  .arrow {
    display: none;
  }
  .layout {
    max-width: 90%;
    max-height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .currentPicWrapper {
    max-width: 50vh;
    flex-shrink: 0;
  }
  .currentPic {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
  }
  .thumbnails {
    display: block;
    flex-shrink: 0;
    overflow: scroll;
    max-width: 70px;
  }
  .thumbPic {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }
    &:hover{
      filter: opacity(50%);
    }
  }
  .thumbPic_active {
    position: relative;
    img {
      filter: opacity(50%);
    }
    &::after{
      content: "";
      position: absolute;
      border: 2px solid hsl(26, 100%, 55%);
      border-radius: 10px;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}

@media (min-width: 750px) {
  .layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    max-height: none;
    margin: 0;
  }
  .currentPicWrapper{
    max-width: none;
    cursor: pointer;
  }
  .thumbnails{
    display: flex;
    align-items: top;
    gap: 20px;
    overflow: scroll;
    overflow-y: hidden;
    max-width: 100%;
    max-height: 80px;
  }
  .thumbPic{
    width: 80px;
    height: 80px;
    margin-bottom: 0;
    max-width: none;
    img{
      width: 80px;
      height: 80px;
    }
  }
}

