.item {
  width: 100vw;
  position: relative;
  img {
    aspect-ratio: 8 / 7;
    overflow: hidden;
    width: 100%;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
  }
}
.arrowPrevious {
  left: 15px;
  img {
    transform: translate(-60%, -50%);
  }
}
.arrowNext {
  right: 15px;
  img {
    transform: translate(-30%, -50%);
  }
}
.thumbnails {
  margin-top: 20px;
  gap: 20px;
  display: none;
}
.thumbPicture {
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    filter: opacity(50%);
  }
}
.thumbActive{
  filter: opacity(50%);
  border: 2px solid hsl(26, 100%, 55%);
}
@media (min-width: 415px) {
  .item {
    max-width: 415px;
    width: 100%;
    margin: 0 auto;
    img {
      border-radius: 10px;
    }
  }
}
@media (min-width: 750px) {
  .item {
    margin: 0;
    width: 100%;
    img {
      aspect-ratio: 1 / 1;
    }
  }
  .arrow {
    display: none;
  }
  .thumbnails {
    display: flex;
  }
}
