@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.container {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    width: 90vw;
    max-width: 900px;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}


